form {
  width: 100%;
  height: auto;
  @extend .flex-col-center;
  gap: 1.9rem;
  input {
    border-radius: 15px;
    padding: 0.6rem 1rem;
    margin-top: 0.5rem;
    border: none;
    width: 100%;
  }
  label {
    width: 100%;
    @media #{$lg} {
      width: 70%;
    }
  }
  .form__options {
    @extend .flex-center;
    width: 100%;
    gap: 0.8rem;
    #cancel {
      background: none;
      color: red;
      border: 1px solid red;

      &:hover {
        background: red;
        color: white;
      }
    }
  }
}
